<div class="container">
  <div class="row">
    <div class="col-md-6"><img class="card-img-top" src="../../../../../arquivos/{{ produto.nomeArquivo}}" /></div>
    <div class="col-md-6">
      <div class="row mb-4"><h1 class="h4">{{ produto.descricao}}</h1></div>
      <div class="row mb-4"><h1 class="h4">{{produto.preco| currency:'BRL':true}}</h1></div>
      <div class="row mb-4">
        <button class="btn btn-success btn-lg" (click)="comprar()">Comprar</button>
      </div>
    </div>
  </div>
</div>
